  <h1>Angular 17</h1>
  <div>
    <p>
      Last month marked the 13th anniversary of Angular’s red shield. AngularJS was the starting point for a new wave of JavaScript frameworks emerging to support the increasing need for rich web experiences. Today with a new look and a set of forward-thinking features we bring everyone along to the future with version 17, setting new standards for performance and developer experience.
    </p>
    <p>
      In v17 we’re happy to introduce:
    </p>
    <ul>
      <li>Deferrable views which brings performance and developer experience to the next level</li>
      <li>Up to 90% faster runtime with a built-in control flow loops in public benchmarks</li>
      <li>Up to 87% faster builds for hybrid rendering and 67% for client-side rendering</li>
      <li>Fresh new look reflecting the future-looking features of Angular</li>
      <li>Brand new interactive learning journey</li>
      <li>…and dozens of other features and improvements!</li>
    </ul>

    <h2>Future-looking identity</h2>
    <p>
      Angular’s renaissance has been going with full steam for the past couple of versions. We’ve been picking up momentum with improvements such as signal-based reactivity, hydration, standalone components, directive composition, and dozens of other features. Despite the rapid evolution of Angular, its branding has not been able to catch up — it has been almost identical since the early days of AngularJS.
    </p>

    <p>
      Today, the framework you love, battle tested by millions of developers gets a new look reflecting its future-looking developer experience and performance!
    </p>
    <h2>Future-looking documentation</h2>
    <p>
      Together with the new brand we also developed a new home for Angular’s documentation — angular.dev. For the new documentation website we have new structure, new guides, improved content, and built a platform for an interactive learning journey that will let you learn Angular and the Angular CLI at your own pace, directly in the browser.
    </p>
    <p>
      The new interactive learning experience is powered by WebContainers and lets you use the power of the Angular CLI in any modern web browser!
    </p>

    @defer (on viewport) {
      <app-comentarios></app-comentarios>
    }  @placeholder { <!--El elemento para reservar el hueco-->
      <p>Esto es un placeholder</p>
    } @loading (){ <!--Lo que saldra cuando se este cargando-->
      <p>Cargando comentario...</p>
    }

  </div>