*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    max-width: 500px;
    margin:0 auto;
    font-size: 48px;
}

div{
    max-width: 500px;
    margin:0 auto;
    padding-top: 32px;
    font-size: 32px;
}