@if (pokemon) {
    <div class="pokemon col-md-12 border border-3 border-dark-subtle rounded m-3 p-3">
        <div><img [src]="pokemon.imagen" width="140" height="140" class="bd-placeholder-img rounded-circle border border-2 border-dark" alt=""></div>
        <h2 class="fw-normal text-capitalize">{{pokemon.nombre}}</h2>
        <div>
            @for (type of pokemon.types; track type.type.name) {
                <div class="badge text-bg-secondary m-1 tipo" [ngClass]="type.type.name?type.type.name:''">{{type.type.name}}</div>
            }
        </div>
        <!--div>
            @for (move of pokemon.moves; track move.move.name) {
                <div class="badge text-bg-info m-1">{{move.move.name}}</div>
            }
        </div-->
        <div class="footer"><a class="btn btn-secondary" href="#">View details »</a></div>
    </div>
}
